<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Image upload test</title>
  </head>
  <body>
    <p>Node image upload test</p>
    <form method="post" action="/upload/post" enctype="multipart/form-data">
      <input type="file" name="image" /><br /><br />
      <button type="submit" name="upload">Upload</button>
    </form>
  </body>
</html>
